@using Microsoft.CodeAnalysis.Scripting
@model IEnumerable<NotesDomain.NoteEntity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div id="notesList">
    <p>
        {{ title }}
    </p>
</div>

<p>
    <a asp-action="Create">CheckData New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts
{
    <link rel="stylesheet" href="~/lib/antd.min.css" asp-append-version="true"/>
    <script src="lib/antd.min.js"></script>
    <script src="lib/default-theme.min.js"></script>

    <script type="text/javascript">
        var vm = new Vue(
            {
                el: "notes_list",
                data: {
                    title: "Notes title Vue"
                }
            })
    </script>
}
