@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>

<div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm">
    <form id="account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group mb-6">
            <label asp-for="Input.Email" for="exampleInputEmail2" class="form-label inline-block mb-2 text-gray-700">Email address</label>
            <input asp-for="Input.Email" type="email" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Enter email">
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group mb-6">
            <label asp-for="Input.Password" for="exampleInputPassword2" class="form-label inline-block mb-2 text-gray-700">Password</label>
            <input asp-for="Input.Password" type="password" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInputPassword2" placeholder="Password">
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="flex justify-between items-center mb-6">
            <div class="form-group form-check">
                <input type="checkbox"
                       class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                       id="exampleCheck2"
                       asp-for="Input.RememberMe">
                <label asp-for="Input.RememberMe" class="form-check-label inline-block text-gray-800" for="exampleCheck2">
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
            <a asp-page="./ForgotPassword"
               class="text-blue-600 hover:text-blue-700 focus:text-blue-700 transition duration-200 ease-in-out">
                Forgot password?
            </a>
        </div>
        <button type="submit" class=" w-full px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
            Sign in
        </button>
        <p class="text-gray-800 mt-6 text-center">Not a member?
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"
               class="text-blue-600 hover:text-blue-700 focus:text-blue-700 transition duration-200 ease-in-out">
                Register
            </a>
        </p>
    </form>
</div>

<section>
    <h3>Use another service to log in.</h3>
    <hr />
    @{
        if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
            <div>
                <p>
                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                        about setting up this ASP.NET application to support logging in via external services</a>.
                </p>
            </div>
        }
        else
        {
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                        }
                    </p>
                </div>
            </form>
        }
    }
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}